-r requirements-dj111.txt
flake8-blind-except==0.1.1
flake8-builtins==1.4.1
flake8-coding==1.3.1
flake8-commas==2.0.0
flake8-debugger==3.1.0
flake8-docstrings==1.3.0
flake8-isort
flake8-pep3101
flake8-quotes
flake8-string-format
flake8
isort
lizard
pep257
pep8-naming
pep8
pip-check
pycodestyle<2.4.0
pyflakes<1.7.0
radon
